* {
    margin: 0;
    padding: 0;
}
.bg-body-tertiary{
    background-color: black !important;
}
.navbar-brand{
    color: white;
}

.navbar-brand:hover{
    color: #229cb5;
}

.derechos{
    display: flex;
    flex-direction: column;
    font-size: 20px;
    color: black;
    text-align: center;
}


.filtro {
    display: none;
}

img {
    max-width: 100%;
    border: solid 2px rgb(4, 47, 11);
    border-radius: 5%;
}

body {
    background-color: rgb(12 47 47);
}
.tituloh1{
    color: white;
    text-align: center;
    margin-top: 20px;
}
.imgban{
    display: flex;
    flex-direction: column;
    max-width: 70%;
    align-items: center;
    margin: auto;
}
#navbarSupportedContent {
    justify-content: end;
}

#cartas {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 10px;
    margin-left: 50px;
    margin-right: 50px
}

.cartasHijo {
    display: flex;
    flex-direction: column;
    padding: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    max-width: 200px;
    border: 4px solid rgb(127, 126, 126);
    border-radius: 5%;
    -webkit-box-shadow: 25px 22px 20px 14px rgba(0,0,0,0.75);
-moz-box-shadow: 25px 22px 20px 14px rgba(0,0,0,0.75);
box-shadow: 25px 22px 20px 14px rgba(0,0,0,0.75);
    background-color: #000000;
    text-align: center;
    justify-content: center;
}

.marcaClass,
.modeloClass,
.yearClass,
.precioClass {
    font-size: 20px;
    color: aliceblue;
}

.marcaClass {
    font-size: 25px;
    color: aliceblue;
    text-shadow: 0 5px 5px #00a31b;
}

.btnAgregar {
    width: 140px;
    height: 40px;
    border: 2px solid gray;
    border-radius: 8px;
    box-shadow: 1px 1px 10px rgba(100, 255, 39, 0.1);
    background-color: rgb(12 47 47);
    font-size: 15px;
    font-weight: bold;
    margin: 10px;
    color: #fffcfc;
    cursor: pointer;
}
.btnAgregar:hover{
    background-color: #229cb5;
    color: rgb(115, 255, 141);

}
.verCarrito {
    flex-direction: column;
    position: fixed;
    top: 7%;
    right: 1%;
    cursor: pointer;
    text-align: end;
    padding: 20px;
}


/*Estilos del modal*/

.modal-header {
display: flex;
position: sticky;
justify-content: space-around;
background-color: black;
color: white;
width: 100%;
}
.modal-header-title{
    justify-self: start;
}

.modalTitulo {
    justify-content: center;
}

.modal-button {
    cursor: pointer;
}

.modalConteiner{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin:  0 10%;
    background-color: rgb(29, 28, 28);
    color: rgb(0, 0, 0);
    width: 80%;
    max-height: 88vh;
    align-items: center;
    position: fixed;
    overflow: auto;
    z-index: 9;
    top: 12vh;
    scrollbar-color: none;
}

/*estilos de las cards modal*/

.modal-content{
    width: 25%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-right:100px;
    padding: 30px;

}
    
.marcaClass2,
.modeloClass2,
.precioClass2 {
    font-size: 15px;
    color: aliceblue;
    padding: 10%;
}
.marcaClass {
    font-size: 20px;
    color: aliceblue;
    text-shadow: 0 5px 5px #00a31b;
}

.total-content{    
font-size: 30px;
color: #229cb5;
}

.eliminarCarrito{
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: center;
}